@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "common/global";

:root {
  --contentgutter: 1.5rem;
  --sidebarwidth: 0;
  --containerwidth: 100vw;
}
@media (min-width: 640px) {
  /* SM */
  :root {
    --containerwidth: 640px;
  }
}
@media (min-width: 768px) {
  /* MD */
  :root {
    --containerwidth: 768px;
  }
}
@media (min-width: 1024px) {
  /* LG */
  :root {
    --contentgutter: 4rem;
    --containerwidth: 1024px;
  }
}
@media (min-width: 1280px) {
  /* XL */
  :root {
    --sidebarwidth: 2/5;

    --contentgutter: 8rem;
    --containerwidth: 1280px;
  }
}
@media (min-width: 1536px) {
  /* 2XL */
  :root {
    --containerwidth: 1536px;
  }
}

.wp-block-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(4 * var(--gallery-block--gutter-size, 16px));
  margin-bottom: calc(3 * var(--gallery-block--gutter-size, 16px));
}

figure {
  position: relative;
}

figure figcaption {
  margin: 0;

  text-align: left !important;
  margin-top: 2rem !important;
  padding-left: 0.5rem;
  position: relative;
  @apply font-mono italic  tracking-tight !text-neutral-500 antialiased;
}

figure figcaption::before {
  display: block;
  content: "";
  width: 1px;
  background-color: lightgray;
  position: absolute;
  left: 0;
  bottom: 0.35em;
  height: 5.5rem;
}

.alignwide {
  margin: var(--contentgutter)
    clamp(
      -999px,
      calc(
        -1 * var(--contentgutter) - ((1 - var(--sidebarwidth)) * 100vw - 65ch -
              2 * var(--contentgutter))
      ),
      calc(-1 * var(--contentgutter))
    )
    var(--contentgutter) calc(-1 * var(--contentgutter)) !important;
}

h2 + .alignwide {
  margin-top: 0 !important;
  margin-bottom: calc(var(--contentgutter) / 2) !important;
}

.alignfull {
  margin: calc(1 * var(--contentgutter))
    clamp(
      -999px,
      calc(
        0px -
          ((1 - var(--sidebarwidth)) * 100vw - 65ch - 2 * var(--contentgutter))
      ),
      calc(-1.5 * var(--contentgutter))
    )
    calc(1 * var(--contentgutter))
    clamp(
      -999px,
      calc(var(--sidebarwidth) * -100vw),
      calc(-1 * var(--contentgutter))
    ) !important;
}

.alignwide figcaption {
  margin-top: 4rem !important;
  margin-left: var(--contentgutter) !important;
}

.alignfull figcaption {
  margin-top: 4rem !important;
  margin-left: calc(var(--sidebarwidth) * 100vw) !important;
}

/* .alignfull {
    padding-right: var(--contentgutter);
    padding-left: var(--contentgutter);
  } */

.wp-block-gallery.alignwide {
  padding-left: calc(2 * var(--gallery-block--gutter-size, 16px));
  padding-right: calc(2 * var(--gallery-block--gutter-size, 16px));
}

.wp-block-gallery.alignwide figcaption {
  margin-left: calc(
    var(--contentgutter) - 2 * var(--gallery-block--gutter-size, 16px)
  ) !important;
}

.wp-block-gallery.alignwide figcaption {
  margin-left: calc(-2 * var(--gallery-block--gutter-size, 16px));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.strikethrough {
  position: relative;
  z-index: 2;
}

.strikethrough::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 57.5%;
  left: -0.25em;
  right: 0.15em;
  height: 0.175em;
  background-color: #fff;
  transform: translateY(-50%);
}
.strikethrough.strikethrough-yellow::before {
  background-color: #ecf770;
}

.perspective {
  perspective: 1px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.transform {
  --tw-translate-z: 0px;
  transform-origin: center center;
  transform: translate3d(
      var(--tw-translate-x),
      var(--tw-translate-y),
      var(--tw-translate-z)
    )
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.layer-3 {
  --tw-translate-z: 0.2px;
}

.layer-3-no-scale {
  --tw-translate-z: 0.2px;
  --tw-scale-x: 0.8;
  --tw-scale-y: 0.8;
}

.hover\:scale-105.layer-3-no-scale:hover {
  --tw-scale-x: 0.85 !important;
  --tw-scale-y: 0.85 !important;
}

.layer-2 {
  --tw-translate-z: 0.1px;
}

.layer-2-no-scale {
  --tw-translate-z: 0.1px;
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
}

.hover\:scale-105.layer-2-no-scale:hover {
  --tw-scale-x: 0.95 !important;
  --tw-scale-y: 0.95 !important;
}

.join-button a {
  @apply border-2 border-axis-cream bg-axis-cream px-6 py-2;
}

.login-button a {
  @apply border-2  border-axis-cream px-6 py-2 xl:ml-2;
}

.ez-toc-link {
  @apply block border-b border-white py-4 font-mono hover:bg-white hover:bg-opacity-25 lg:py-6 lg:text-lg 2xl:text-xl;
}

dialog::backdrop {
  @apply bg-black bg-opacity-70;
}
